@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./font.css');
@import url('./cursor.css');

body {
  @apply bg-pastel-yellow;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 20px 20px;
  font-family: 'Press Start 2P', sans-serif;
}

.pixelated {
  image-rendering: pixelated;
}

@keyframes scanline {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.scanline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  animation: scanline 10s linear infinite;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded font-bold text-sm uppercase tracking-wider transition-colors duration-200;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
  }

  .btn-primary {
    @apply bg-pastel-blue text-gray-800 hover:bg-pastel-purple;
  }

  .btn-secondary {
    @apply bg-pastel-green text-gray-800 hover:bg-pastel-orange;
  }
}

